.about-section {
  height: 50rem;
  display: flex;
  position: relative;
  justify-content: center;
}

.about-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60rem;
  background-color: rgb(244, 244, 244);
  clip-path: polygon(0 0%, 100% 0%, 100% 90%, 0% 80%);
  z-index: -1;
}

.about-gallery {
  width: 100%;
  height: 40rem;
  position: relative;
}

.about-section-content {
  padding: 3rem;
}

.about-section-content h3 {
  width: 30rem;
  font-size: 32px;
  font-weight: 600;
  color: #000000;
  line-height: 3rem;
}

.about-section-content h3 span {
  color: red;
}

.about-section-content p {
  font-size: 14px;
  color: grey;
  width: 30rem;
  line-height: 1.7rem;
  text-align: justify;
}
.about-section-content .stroke {
  width: 10rem;
  margin-top: -2rem;
  margin-left: -1rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  place-items: center;
  max-width: 100%;
  margin: 3rem;
  height: 20rem;
  position: absolute;
  top: 8rem;
  z-index: 3;
}

.about1 {
  height: 20rem;
  width: 15rem;
  margin-top: -5rem;
  border-top-left-radius: 80px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.about2 {
  margin-top: -18rem;
  border-radius: 10px;
}

.about3 {
  height: 15rem;
  width: 15rem;
  border-radius: 10px;
}

.about4 {
  height: 15rem;
  width: 17rem;
  margin-top: -20rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 80px;
}

.dots21 {
  position: absolute;
  right: 2rem;
  top: 33rem;
  z-index: 2;
  animation: rotation 5s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dots221 {
  position: absolute;
  top: 3rem;
  left: 0rem;
  z-index: 2;
}

.abstract2 {
  position: absolute;
  z-index: 1;
  top: 2rem;
  left: 0rem;
}

.vision-content {
  display: flex;
  gap: 3rem;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}

.mission,
.vision {
  width: 15rem;
  height: 15rem;
  line-height: 2rem;
  text-align: justify;
}

.mission h4,
.vision h4 {
  font-weight: 600;
}

.mission p,
.vision p {
  font-size: 14px;
  line-height: 1.5rem;
  text-align: justify;
  max-width: 100%;
}

.card1,
.card2,
.card3,
.card4 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.card1,
.card3 {
  height: 15rem;
  width: 15rem;
  border-radius: 10px;
  background: white;
}

.reading,
.satisfaction {
  background-color: rgb(26 182 157 / 0.07);
}

.presentation,
.man {
  background-color: rgb(238 74 98 / 0.06);
}

.card2,
.card4 {
  height: 15rem;
  width: 15rem;
  border-radius: 10px;
  background: white;
}

.man,
.presentation,
.reading,
.satisfaction {
  width: 6rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.abouts-benefits {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  position: relative;
  z-index: 2;
  margin-top: -5rem;
  margin-bottom: 3rem;
}
.square-dots {
  position: absolute;
  z-index: -1;
  right: 0rem !important ;
  top: 70%;
  width: 15rem;
  height: 8rem;
}

.cards-dot {
  position: absolute;
  top: 12rem;
  left: -5rem;
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.why-chose-us {
  text-align: center;
}

.why-chose-us h5 {
  font-weight: 600;
  margin-bottom: 2rem;
  font-size: 14px;
  color: rgb(144, 144, 144);
}

.why-chose-us h1 {
  color: black;
  font-weight: 600;
  font-size: 34px;
}

.why-chose-us h1 span {
  color: red;
  font-weight: 600;
}

.why-chose-us span h1 {
  color: #14213d;
  font-weight: 600;
  font-size: 34px;
}

.why-chose-us .stroke {
  width: 10rem;
}

.why-card1,
.why-card2,
.why-card3 {
  background: white;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.why-card1 img,
.why-card2 img,
.why-card3 img {
  width: 100%;
}

.card-wrapper {
  gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

.why-card2 {
  width: 20rem;
  height: 35rem;
}

.why-card1,
.why-card3 {
  width: 20rem;
  height: 30rem;
}

.icon1,
.icon2,
.icon3 {
  width: 6rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: 10rem;
  left: 6.5rem;
}
.icon1 {
  background: #1ab69d;
}

.icon2 {
  background: #ee4a62;
}
.icon3 {
  background: #4664e4;
}
.card-title {
  font-weight: 600;
  margin-top: 4rem;
  color: black;
}

.card-body {
  font-size: 15px;
}

.CTA-wrapper {
  height: 50rem;
  position: relative;
  margin-top: -4rem;
  padding-block: 6rem;
}

.CTA-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60rem;
  background-color: rgb(244, 244, 244);
  clip-path: polygon(0 0%, 100% 0%, 100% 90%, 0% 80%);
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .about-section {
    height: 120rem;
    flex-direction: column;
  }

  .vision-content {
    padding: 1rem;
    flex-direction: column;
  }

  .about1 {
    height: 15rem;
    width: 10rem;
  }

  .about1,
  .about2,
  .about3,
  .about4 {
    height: 15rem;
    width: 10rem;
  }

  .about4 {
    margin-top: -13rem;
  }
  .dots21,
  .dots221,
  .abstract2,
  .cards-dot,
  .square-dots {
    display: none;
  }

  .about-section-content {
    padding: 2rem;
  }

  .about-section-content h3,
  .about-section-content p {
    width: 100%;
  }

  .about-gallery {
    margin-top: 5rem;
  }

  .gallery {
    margin: 0.5rem;
  }

  .mission,
  .vision {
    width: 100%;
    height: 100%;
  }

  .abouts-benefits {
    margin-top: 10rem;
  }

  .abouts-benefits,
  .card-wrapper {
    flex-direction: column;
  }

  .why-card1,
  .why-card2,
  .why-card3 {
    height: 30rem;
  }

  .why-chose-us h1,
  .why-chose-us span h1 {
    font-size: 28px;
  }
}
