/* CATEGORY SECTION */
.category-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 40rem;
  padding: 2rem;
  animation: category 2s linear;
}

@keyframes category {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.category-section h6 {
  width: 10rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  font-size: 12px;
  color: #5751e1;
  border-radius: 50px;
  background-color: #efeefe;
}

.category-section h2 {
  color: #14213d;
  font-weight: 700;
  font-size: 40px;
}

.category-section p {
  font-size: 16.5px;
  color: rgb(118, 118, 118) !important;
}

.categories {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.categories .ai,
.categories .mern,
.categories .cs,
.categories .ds,
.categories .da,
.categories .dm {
  width: 9rem;
  height: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 50%;
}

.categories .ai {
  background-color: rgb(26 182 157 / 0.07);
}

.categories .ai:hover {
  background-color: rgb(26 182 157 / 0.6);
}

.categories .cs {
  background-color: rgb(238 74 98 / 0.07);
}

.categories .cs:hover {
  background-color: rgb(238 74 98 / 0.6);
}

.categories .mern {
  background-color: rgb(14 205 115 / 0.07);
}
.categories .mern:hover {
  background-color: rgb(14 205 115 / 0.6);
}

.categories .da {
  background-color: rgb(248 184 31 / 0.07);
}
.categories .da:hover {
  background-color: rgb(248 184 31 / 0.6);
}

.categories .ds {
  background-color: rgb(142 86 255 / 0.07);
}
.categories .ds:hover {
  background-color: rgb(142 86 255 / 0.6);
}

.categories .dm {
  background-color: rgb(249 37 150 / 0.07);
}
.categories .dm:hover {
  background-color: rgba(87, 112, 237, 0.6);
}

.categories .ai h5,
.categories .cs h5,
.categories .mern h5,
.categories .ds h5,
.categories .da h5,
.categories .dm h5 {
  font-size: 16px;
  margin-top: 0.5rem;
  color: #14213d;
}
.categories .ai:hover h5,
.categories .cs:hover h5,
.categories .mern:hover h5,
.categories .ds:hover h5,
.categories .da:hover h5,
.categories .dm:hover h5 {
  color: white;
}

.categories .ai:hover img {
  transform: scale(1.1);
}
.categories .mern:hover img,
.categories .cs:hover img,
.categories .ds:hover img,
.categories .da:hover img,
.categories .dm:hover img {
  transform: scale(1.2);
}

.category-section .browse {
  width: 10rem;
  gap: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 50px;
  margin-top: 3rem;
  cursor: pointer;
  color: #14213d !important;
  background: #ffb703;
  box-shadow: 5px 5px 2px #14213d;
}

.category-section .browse:hover {
  color: white !important;
  background-color: #5751e1;
  box-shadow: none;
}

/* TECHCADD SECTION */

.techCadd {
  height: 42rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.left-div,
.right-div {
  width: 50%;
}

.shape {
  position: absolute;
}

.img-stack {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainImage {
  width: 30rem;
  height: 30rem;
  border-radius: 20px;
  position: relative;
  z-index: 4;
}

.shape1 {
  top: -4rem;
  left: -2rem;
  z-index: 1;
}

.shape2 {
  top: -4rem;
  left: -2rem;
  z-index: 2;
}

.shape3 {
  top: 18rem;
  left: 10rem;
  z-index: 3;
}

.right-div-content h6,
.aboutus h6 {
  font-size: 14px;
  font-weight: 600;
  color: rgb(145, 143, 143);
}

.right-div-content h2,
.aboutus h2 {
  color: black;
  font-weight: 600;
}

.right-div-content h2 span p {
  display: flex;
  gap: 1.2rem;
  font-size: 32px;
  flex-direction: column;
  color: red;
  line-height: 2.5rem;
}

.right-div-content h2 span .stroke {
  margin-top: -3rem;
  width: 10rem;
}

.aboutus h2 .stroke {
  width: 10rem;
}

.whyUs-right .stroke {
  width: 10rem;
}

.right-div-content p {
  font-size: 14px;
  line-height: 1.5rem;
  text-align: justify;
  color: rgb(145, 143, 143);
}

.right-div-content .benefits {
  font-size: 14px;
  margin-left: -2rem;
  line-height: 2rem;
}

.right-div-content.benefits li {
  display: flex;
  align-items: center;
  gap: 1.5rem !important;
}

.right-div {
  animation: slideIn 1.2s linear forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.aboutus {
  margin-top: 4rem;
  margin-inline: 4rem;
}

.aboutus div {
  text-align: justify;
  margin-top: 2rem;
  font-size: 14px;
  line-height: 2rem;
  color: rgb(145, 143, 143);
}

.aboutus h6,
.aboutus h2 {
  text-align: center;
}

.aboutus h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/* WHY US SECTION */

.whyUs {
  height: 45rem;
  padding: 4rem;
  font-size: 14px;
  gap: 2rem;
  margin-block: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.collaborators h6,
.whyUs h6 {
  color: rgb(140, 138, 138) !important;
}

.brands h1 {
  color: black;
  font-weight: 600;
}

.whyUs-right,
.whyUs-left {
  text-align: justify;
  line-height: 2rem;
  width: 100%;
}

.whyUs-left div b {
  font-weight: 600;
  font-size: 16px;
  color: black;
}

.whyUs-left div p {
  margin-top: 1rem;
  color: rgb(145, 143, 143);
}

.whyUs-right {
  animation: moveUp 1.2s linear forwards;
}

@keyframes moveUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.whyUs-right p,
.whyUs-right h2,
.whyUs-right ul {
  line-height: 2.4rem;
}

.whyUs-right p {
  margin-top: 2rem;
  color: rgb(145, 143, 143);
}

.whyUs-right ul {
  margin-top: 1rem;
  color: black;
  padding: 0rem !important;
}

.whyUs-right ul li {
  gap: 1rem;
  display: flex;
  align-items: center;
}

.whyUs-right h2 {
  font-weight: 600;
  color: black;
}

.whyUs-right p {
  font-size: 14px;
  line-height: 1.8rem;
  text-align: justify;
}

/* COLLABORATORS SECTION */
.collaborators {
  display: flex;
  align-items: center;
  padding: 2rem;
  margin-top: 8rem;
  justify-content: center;
}

.collab-left {
  width: 100%;
  padding-inline: 3rem;
}

.collab-left h2 {
  font-weight: 600;
  font-size: 36px;
}

.collab-left .stroke {
  width: 10rem;
  margin-left: -1rem;
  margin-top: -1rem;
}

.collab-left p {
  margin-top: 1.5rem;
}

.collab-right {
  width: 100%;
  display: grid;
  align-items: center;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.management {
  display: flex;
  padding: 5rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 4rem;
}

.management .names {
  gap: 4rem;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  align-items: center;
}

.ceo {
  filter: grayscale(1.5);
  border-radius: 50%;
  border: 3px solid black;
}

.management .name {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  color: black;
  margin-top: 1rem !important;
  margin-bottom: 0rem !important;
}

.management .designation {
  text-align: center;
  font-size: 12px;
  color: grey;
}

.ceo img {
  border-radius: 50%;
}

.slider {
  width: 40rem;
  height: 25rem;
  margin-left: 30rem;
  background-color: white;
}

.swiper {
  padding: 2rem !important;
}

.mySwiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  box-shadow: 2px 2px 4px 2px rgb(183, 180, 180);
  border-radius: 5px;
  margin-top: 0.5rem;
  width: 100%;
  height: 24rem;
}
.review {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  line-height: 1.2rem;
}

.slider-content {
  margin-top: 1.4rem;
}

.quote {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #14213d;
  border-radius: 50%;
  margin-top: -20px;
  margin-left: 35px;
  border: 2px solid white;
}

.slider-mobile {
  display: none;
}

.review p {
  font-size: 12px;
}

.collaborators p {
  font-size: 14px;
  color: rgb(118, 118, 118) !important;
}

/*BRANDS SECTION*/
.brands {
  padding-block: 2rem;
  margin-top: 6rem;
  text-align: center;
}

.brands .brands-name {
  margin-top: 2rem;
  gap: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brands .brands-name img {
  width: 250px;
  height: 150px;
}

/* COURSES SECTION */
.onlinecourses {
  width: 100% !important;
  height: 110rem !important;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 4rem;
  margin-bottom: 20rem;
  background-image: url("../assets/bg/wsus-img-2024-06-23-04-25-27-8319.webp");
}

.quarter {
  top: 100rem;
  width: 45rem;
  height: 20rem;
  display: grid;
  grid-template-columns: 2fr 2fr;
  align-items: center;
  position: absolute;
  background-color: white;
  border-radius: 10px;
  padding: 2rem;
  z-index: 2;
  box-shadow: 2px 2px 2px rgb(177, 176, 176);
}

.enrolled,
.branchess,
.branchess1,
.enrolled1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 2.3rem;
}

.enrolled {
  border-right: 1px solid rgb(209, 209, 209) !important;
  border-bottom: 1px solid rgb(209, 209, 209) !important;
}

.enrolled span,
.enrolled1 span,
.branchess1 span {
  font-size: 32px;
  font-weight: 600;
  font-family: fantasy;
  color: #17326b;
}

.enrolled p,
.enrolled1 p,
.branchess1 p,
.branchess p {
  color: rgb(46, 46, 46);
  font-size: 13px;
}

.branchess {
  border-bottom: 1px solid rgb(209, 209, 209) !important;
}

.branchess span {
  font-size: 32px;
  font-weight: 600;
  font-family: fantasy;
  color: red;
}

.enrolled1 {
  border-right: 1px solid rgb(209, 209, 209) !important;
}

.dots1 {
  width: 12rem;
  height: 12rem;
  position: absolute;
  z-index: 1;
  top: 95rem;
  left: 12rem;
}

.dots2 {
  width: 10rem;
  height: 10rem;
  z-index: 2;
  top: 115rem;
  left: 50rem;
  position: absolute;
}
.abstract {
  width: 10rem;
  height: 10rem;
  z-index: 1;
  top: 115rem;
  left: 55rem;
  position: absolute;
}
.dashed {
  width: 10rem;
  height: 10rem;
  z-index: 3;
  top: 98rem;
  left: 15rem;
  position: absolute;
  animation: rotation 5s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.onlinecourses .learnmore,
.whyUs .learnmore,
.reflection .learnmore {
  width: 8rem;
  height: 3rem;
  gap: 1rem;
  margin-top: 2rem;
  color: white;
  font-size: 14px;
  display: flex;
  justify-content: center;
  border-radius: 3px;
  align-items: center;
  position: relative;
  z-index: 99;
  background: #14213d;
}

.onlinecourses h5 {
  text-align: center;
  color: rgb(164, 163, 163);
}

.onlinecourses .stroke {
  width: 10rem;
  margin-top: -2rem;
  margin-left: 6rem;
}

.animate-courses {
  animation: slidein 1s linear forwards;
}

@keyframes slidein {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.onlinecourses h1,
.team h1 {
  text-align: center;
  font-weight: 600;
  color: black;
  font-size: 32px;
  margin-bottom: 2rem;
}

.reflection {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 45rem;
  margin-top: 10rem;
}

.reflection-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: white;
  position: absolute;
  height: 25rem;
  padding: 2rem;
  margin-top: 4rem;
  left: 3rem !important;
  z-index: 2;
  animation: comeUp 1s linear forwards;
}

@keyframes comeUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.reflection-content-mobile {
  display: none;
}

.reflection-content {
  width: 40%;
}

.reflection-content h1 {
  font-size: 35px;
  font-weight: 600;
  color: black;
  margin-bottom: 0.4rem;
}

.reflection-content .stroke {
  width: 8rem;
}

.reflection-content p {
  font-size: 14px;
  margin-top: 2rem !important;
  color: rgb(145, 143, 143);
}

.staffpic {
  width: 100%;
  filter: grayscale(1.5);
}

.popular-courses {
  display: flex;
  gap: 1rem;
  margin-top: 3rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.row1,
.row2,
.row3 {
  gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row1 {
  animation: row1In 1s linear forwards;
}

@keyframes row1In {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.row2 {
  animation: row2In 1.5s linear forwards;
}

@keyframes row2In {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.row3 {
  animation: row3In 2s linear forwards;
}

@keyframes row3In {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.popular-courses .card {
  width: 15rem;
  height: 25rem;
  position: relative;
  border-radius: 10px;
  outline: none;
  border: none;
}

.popular-courses .card .overlay {
  padding: 2rem;
}

.popular-courses .card .card-body {
  line-height: 2rem;
}

.popular-courses .card .badge {
  width: 5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.2rem;
  background-color: #5751e1;
}

.popular-courses .card .overlay .badge {
  width: 5rem;
  height: 1.5rem;
  display: flex;
  color: #14213d;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.2rem;
  background-color: white;
}

.popular-courses .card span {
  font-size: 14px;
  font-weight: 600;
}

.popular-courses .card .overlay span {
  font-size: 14px;
  font-weight: 600;
  color: white;
}

.popular-courses .card p {
  font-size: 12px;
  line-height: 1.5rem;
  color: rgb(114, 114, 114);
  text-align: justify;
}

.popular-courses .card .overlay p {
  font-size: 12px;
  line-height: 1.5rem;
  color: white;
  text-align: justify;
}

.reflection-mobile {
  display: none;
}

.overlay {
  display: none;
}

.popular-courses .card .overlay .rating {
  color: #ffb703;
}

.popular-courses .card:hover .overlay {
  display: block;
  width: 15rem;
  height: 25rem;
  background-color: rgb(134, 134, 134);
  position: absolute;
}

.popular-courses .card .overlay .enrolnow {
  width: 8rem;
  height: 3rem;
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffb703;
}

.team img {
  margin-top: 3rem;
}

.team .stroke {
  width: 10rem;
  margin-left: 34rem;
  margin-top: -3rem;
}

.brands .stroke {
  width: 10rem;
}

.management h2 {
  font-weight: 600;
  font-size: 36px;
}

.management .stroke {
  width: 10rem;
}

@media screen and (max-width: 768px) {
  .category-section {
    height: 100rem;
  }

  .category-section .browse:hover {
    gap: 1.2rem;
  }

  .category-section h2 {
    text-align: center;
    font-size: 18px;
  }

  .category-section p {
    text-align: center;
    font-size: 13px;
  }

  .shape1,
  .shape2,
  .shape3 {
    display: none;
  }

  .techCadd {
    gap: 3rem;
    height: 50rem;
    flex-direction: column;
    margin: 0 !important;
    padding: 1rem !important;
  }

  .techCadd h2 {
    font-size: 18px;
  }

  .techCadd h6 {
    font-size: 14px;
  }

  .techCadd p {
    margin-top: 2rem;
  }

  .left-div,
  .right-div {
    width: 100%;
    text-align: center;
  }

  .mainImage {
    width: 20rem;
    height: 20rem;
    margin: 0 auto;
  }

  .right-div-content h6 {
    text-align: left;
    font-size: 12px;
  }
  .right-div-content h2 {
    text-align: left;
    font-size: 20px;
  }

  .right-div-content h2 span p {
    font-size: 26px;
    gap: 0rem !important;
  }

  .right-div-content p {
    margin: 0rem !important;
    text-align: justify !important;
  }

  .right-div-content .benefits {
    margin-top: 2rem;
    text-align: left;
  }

  .right-div-content h2 span .stroke {
    margin-top: -1rem;
    margin-left: 0rem;
    width: 8rem;
  }

  .aboutus {
    margin-inline: 0rem !important;
    padding: 0rem !important;
  }
  .aboutus div {
    padding: 1rem;
  }

  .whyUs {
    height: 110rem;
    flex-direction: column;
    padding: 1rem !important;
  }

  .collaborators {
    flex-direction: column;
  }

  .collab-right {
    grid-template-columns: 2fr 2fr;
  }

  .collab-left {
    text-align: center;
    padding-inline: 0rem !important;
  }

  .collaborators p {
    padding-inline: 0rem !important;
    padding-block: 0rem !important;
  }

  .slider {
    padding: 0rem !important;
  }

  .brands .brands-name {
    flex-direction: column;
  }

  .brands .brands-name img {
    width: 200px;
    height: 120px;
  }

  .onlinecourses {
    margin-bottom: 10rem;
    height: 400rem !important;
  }

  .onlinecourses h1 {
    font-size: 30px;
  }

  .onlinecourses h5 {
    font-size: 16px;
  }

  .row1,
  .row2,
  .row3 {
    display: grid;
    place-items: center;
    grid-template-columns: 3fr !important;
  }

  .onlinecourses .stroke {
    width: 8rem;
    margin-top: -2rem;
    margin-left: 4rem;
  }

  .popular-courses .card {
    width: 20rem;
    height: 28rem;
  }

  .popular-courses .card .overlay {
    width: 20rem !important;
    height: 28rem !important;
  }

  .popular-courses .card .overlay .enrolnow {
    margin-top: 7rem;
  }

  .popular-courses .card .overlay span {
    font-size: 16px;
  }

  .popular-courses .card .overlay p {
    font-size: 14px;
  }

  .management .names {
    grid-template-columns: 3fr;
  }

  .management h2 {
    font-size: 26px;
  }

  .slider-mobile {
    display: block;
  }
  .slider {
    display: none;
  }

  .dots1,
  .dots2,
  .abstract,
  .dashed {
    display: none;
  }

  .quarter {
    width: 20rem;
    top: 378rem;
    height: 30rem;
    margin-inline: 20px;
    grid-template-columns: 2fr;
  }

  .reflection {
    display: none;
  }

  .reflection-content {
    left: 1rem !important;
    width: 100%;
    z-index: 0 !important;
  }

  .reflection-mobile {
    display: block;
    height: 50rem;
    padding: 1rem;
    text-align: justify;
  }

  .reflection-content-mobile {
    display: block;
    font-size: 14px;
  }

  .reflection-content-mobile .learnmore {
    width: 8rem;
    height: 3rem;
    gap: 1rem;
    margin-top: 2rem;
    color: white;
    font-size: 14px;
    display: flex;
    justify-content: center;
    border-radius: 3px;
    align-items: center;
    background: #14213d;
  }

  .reflection-content-mobile h1 {
    font-size: 26px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 2rem;
  }

  .reflection-content-mobile p {
    color: rgb(145, 143, 143);
  }
  .reflection-content-mobile .stroke {
    margin-top: -4rem;
    margin-left: -1rem;
    width: 10rem;
  }
  .slider-mobile {
    width: 100%;
    height: 25rem;
    background-color: white;
  }

  .swiper {
    padding: 2rem !important;
  }

  .mySwiper .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    box-shadow: 2px 2px 4px 2px rgb(183, 180, 180);
    border-radius: 5px;
    margin-top: 0.5rem;
    width: 100%;
    height: 24rem;
  }

  .enrolled,
  .enrolled1,
  .branchess,
  .branchess1 {
    border: none !important;
  }
  .team .stroke {
    width: 8rem;
    margin-left: 8rem;
  }
}
