/* CATEGORY SECTION */
.category-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 40rem;
  padding: 2rem;
}

.category-section h6 {
  width: 10rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  font-size: 12px;
  color: #5751e1;
  border-radius: 50px;
  background-color: #efeefe;
}

.category-section h2 {
  color: #14213d;
  font-weight: 700;
  font-size: 40px;
}

.category-section p {
  font-size: 16.5px;
  color: rgb(118, 118, 118) !important;
}

.categories {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.categories .ai,
.categories .mern,
.categories .cs,
.categories .ds,
.categories .da,
.categories .dm {
  width: 9rem;
  height: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 50%;
}

.categories .ai {
  background-color: rgb(26 182 157 / 0.07);
}

.categories .ai:hover {
  background-color: rgb(26 182 157 / 0.6);
}

.categories .cs {
  background-color: rgb(238 74 98 / 0.07);
}

.categories .cs:hover {
  background-color: rgb(238 74 98 / 0.6);
}

.categories .mern {
  background-color: rgb(14 205 115 / 0.07);
}
.categories .mern:hover {
  background-color: rgb(14 205 115 / 0.6);
}

.categories .da {
  background-color: rgb(248 184 31 / 0.07);
}
.categories .da:hover {
  background-color: rgb(248 184 31 / 0.6);
}

.categories .ds {
  background-color: rgb(142 86 255 / 0.07);
}
.categories .ds:hover {
  background-color: rgb(142 86 255 / 0.6);
}

.categories .dm {
  background-color: rgb(249 37 150 / 0.07);
}
.categories .dm:hover {
  background-color: rgba(87, 112, 237, 0.6);
}

.categories .ai h5,
.categories .cs h5,
.categories .mern h5,
.categories .ds h5,
.categories .da h5,
.categories .dm h5 {
  font-size: 16px;
  margin-top: 0.5rem;
  color: #14213d;
}
.categories .ai:hover h5,
.categories .cs:hover h5,
.categories .mern:hover h5,
.categories .ds:hover h5,
.categories .da:hover h5,
.categories .dm:hover h5 {
  color: white;
}

.categories .ai:hover img {
  transform: scale(1.1);
}
.categories .mern:hover img,
.categories .cs:hover img,
.categories .ds:hover img,
.categories .da:hover img,
.categories .dm:hover img {
  transform: scale(1.2);
}

.category-section .browse {
  width: 10rem;
  gap: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 50px;
  margin-top: 3rem;
  cursor: pointer;
  color: #14213d !important;
  background: #ffb703;
  box-shadow: 5px 5px 2px #14213d;
}

.category-section .browse:hover {
  color: white !important;
  background-color: #5751e1;
  box-shadow: none;
}

/* TECHCADD SECTION */

.techCadd {
  height: 42rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 2rem;
}

.left-div,
.right-div {
  width: 50%;
}

.mainImage {
  width: 30rem;
  height: 30rem;
  top: 4rem;
  left: 5rem;
  z-index: 3;
  position: absolute;
  border-radius: 20px;
}

.shape1 {
  top: 0.5rem;
  left: 1rem;
  z-index: 1;
  position: absolute;
}

.shape2 {
  top: 1.5rem;
  left: 1rem;
  z-index: 2;
  position: absolute;
}
.shape3 {
  top: 22rem;
  left: 11rem;
  position: absolute;
}

.right-div h6 {
  top: 8rem;
  left: 38rem;
  position: absolute;
  color: rgb(118, 118, 118) !important;
}

.right-div h2 {
  top: 10rem;
  left: 38rem;
  position: absolute;
  color: #14213d;
  font-weight: 600;
}

.right-div h2 span {
  font-weight: 600;
  position: relative;
  color: red !important;
  display: inline-block;
}

.right-div h2 span::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 5px;
  border-radius: 50px;
  background-color: red;
}

.right-div p {
  top: 17rem;
  left: 38rem;
  right: 2rem;
  font-size: 14px;
  text-align: justify;
  position: absolute;
  color: rgb(140, 138, 138) !important;
}

.right-div p span {
  font-weight: 600;
  color: rgb(92, 90, 90) !important;
}

.right-div ul {
  top: 24rem;
  left: 36rem;
  line-height: 2.3rem;
  font-size: 14px;
  position: absolute;
}

.right-div ul li {
  gap: 1rem;
  display: flex;
  align-items: center;
}

/* ABOUT US SECTION*/

.aboutus {
  text-align: center;
  padding: 2rem;
}

.aboutus h6 {
  color: rgb(118, 118, 118) !important;
}

.aboutus h2,
.management h2,
.collaborators h4 {
  color: #14213d;
  font-weight: 600;
}

.aboutus div {
  padding: 2rem;
  font-size: 14px;
  text-align: justify;
}

.aboutus div p {
  color: rgb(118, 118, 118) !important;
}

/* WHY US SECTION */

.whyUs {
  height: 42rem;
  padding: 4rem;
  font-size: 14px;
  gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.collaborators h6,
.whyUs h6 {
  color: rgb(140, 138, 138) !important;
}

.brands h1 {
  color: #14213d;
  font-weight: 600;
}

.whyUs-right,
.whyUs-left {
  text-align: justify;
  line-height: 2rem;
  width: 100%;
}

.whyUs-right p,
.whyUs-right h4,
.whyUs-right ul {
  line-height: 2.4rem;
}

.whyUs-right ul {
  margin-top: 1rem;
  padding: 0rem !important;
}

.whyUs-right ul li {
  gap: 1rem;
  display: flex;
  align-items: center;
}

.whyUs-right h4 {
  font-weight: 600;
  color: #14213d;
}

.whyUs-right p {
  font-size: 14px;
  line-height: 1.8rem;
  text-align: justify;
}

/* COLLABORATORS SECTION */
.collaborators {
  display: flex;
  align-items: center;
  padding: 2rem;
  margin-top: 8rem;
  justify-content: center;
}

.collab-left {
  width: 100%;
  padding-inline: 3rem;
}

.collab-right {
  width: 100%;
  display: grid;
  align-items: center;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.management {
  display: flex;
  padding: 5rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 8rem;
}

.management .names {
  gap: 4rem;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  align-items: center;
}

.ceo {
  filter: grayscale(1.5);
  border-radius: 50%;
  border: 3px solid black;
}

.management .name {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  color: black;
  margin-top: 1rem !important;
  margin-bottom: 0rem !important;
}

.management .designation {
  text-align: center;
  font-size: 12px;
  color: grey;
}

.ceo img {
  border-radius: 50%;
}

.slider {
  width: 40rem;
  height: 25rem;
  margin-left: 30rem;
  background-color: white;
}

.swiper {
  padding: 2rem !important;
}

.mySwiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  box-shadow: 2px 2px 4px 2px rgb(183, 180, 180);
  border-radius: 5px;
  margin-top: 0.5rem;
  width: 100%;
  height: 24rem;
}
.review {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  line-height: 1.2rem;
}

.slider-content {
  margin-top: 1.4rem;
}

.quote {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #14213d;
  border-radius: 50%;
  margin-top: -20px;
  margin-left: 35px;
  border: 2px solid white;
}

.slider-mobile {
  display: none;
}

.review p {
  font-size: 12px;
}

.collaborators p {
  font-size: 14px;
  color: rgb(118, 118, 118) !important;
}

/*BRANDS SECTION*/
.brands {
  padding-block: 2rem;
  margin-top: 6rem;
  text-align: center;
}

.brands .brands-name {
  margin-top: 2rem;
  gap: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brands .brands-name img {
  width: 250px;
  height: 150px;
}

/* COURSES SECTION */
.onlinecourses {
  width: 100% !important;
  height: 110rem !important;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 4rem;
  margin-bottom: 20rem;
  background-image: url("../assets/bg/wsus-img-2024-06-23-04-25-27-8319.webp");
}

.quarter {
  top: 100rem;
  width: 45rem;
  height: 20rem;
  display: grid;
  grid-template-columns: 2fr 2fr;
  align-items: center;
  position: absolute;
  background-color: white;
  border-radius: 10px;
  padding: 2rem;
  z-index: 2;
  box-shadow: 2px 2px 2px rgb(177, 176, 176);
}

.enrolled,
.branchess,
.branchess1,
.enrolled1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 2.3rem;
}

.enrolled {
  border-right: 1px solid rgb(209, 209, 209) !important;
  border-bottom: 1px solid rgb(209, 209, 209) !important;
}

.enrolled span,
.enrolled1 span,
.branchess1 span {
  font-size: 32px;
  font-weight: 600;
  font-family: fantasy;
  color: #17326b;
}

.enrolled p,
.enrolled1 p,
.branchess1 p,
.branchess p {
  color: rgb(46, 46, 46);
  font-size: 13px;
}

.branchess {
  border-bottom: 1px solid rgb(209, 209, 209) !important;
}

.branchess span {
  font-size: 32px;
  font-weight: 600;
  font-family: fantasy;
  color: red;
}

.enrolled1 {
  border-right: 1px solid rgb(209, 209, 209) !important;
}

.dots1 {
  width: 12rem;
  height: 12rem;
  position: absolute;
  z-index: 1;
  top: 95rem;
  left: 12rem;
}

.dots2 {
  width: 10rem;
  height: 10rem;
  z-index: 2;
  top: 115rem;
  left: 50rem;
  position: absolute;
}
.abstract {
  width: 10rem;
  height: 10rem;
  z-index: 1;
  top: 115rem;
  left: 55rem;
  position: absolute;
}
.dashed {
  width: 10rem;
  height: 10rem;
  z-index: 3;
  top: 98rem;
  left: 15rem;
  position: absolute;
}

.onlinecourses .learnmore,
.whyUs .learnmore,
.reflection .learnmore {
  width: 8rem;
  height: 3rem;
  gap: 1rem;
  margin-top: 2rem;
  color: white;
  font-size: 14px;
  display: flex;
  justify-content: center;
  border-radius: 3px;
  align-items: center;
  background: #14213d;
}

.onlinecourses h5 {
  text-align: center;
  color: rgb(164, 163, 163);
}

.onlinecourses h1,
.team h1 {
  text-align: center;
  font-weight: 600;
  color: #14213d;
  margin-bottom: 2rem;
}

.reflection {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 45rem;
  margin-top: 10rem;
}

.reflection-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: white;
  position: absolute;
  height: 25rem;
  padding: 2rem;
  margin-top: 4rem;
  left: 3rem !important;
  z-index: 2;
}

.reflection-content-mobile {
  display: none;
}

.reflection-content {
  width: 40%;
}

.reflection-content h1 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 0.4rem;
}

.reflection-content p {
  font-size: 14px;
}

.staffpic {
  width: 100%;
  filter: grayscale(1.5);
}
.popular-courses {
  display: grid;
  gap: 1rem;
  grid-template-columns: 3fr 3fr 3fr 3fr;
}

.popular-courses .card {
  width: 15rem;
  height: 25rem;
  position: relative;
  border-radius: 10px;
}

.popular-courses .card .overlay {
  padding: 2rem;
}

.popular-courses .card .card-body {
  line-height: 2rem;
}

.popular-courses .card .badge {
  width: 5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.2rem;
  background-color: #5751e1;
}

.popular-courses .card .overlay .badge {
  width: 5rem;
  height: 1.5rem;
  display: flex;
  color: #14213d;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.2rem;
  background-color: white;
}

.popular-courses .card span {
  font-size: 14px;
  font-weight: 600;
}

.popular-courses .card .overlay span {
  font-size: 14px;
  font-weight: 600;
  color: white;
}

.popular-courses .card p {
  font-size: 12px;
  line-height: 1.5rem;
  color: rgb(114, 114, 114);
  text-align: justify;
}

.popular-courses .card .overlay p {
  font-size: 12px;
  line-height: 1.5rem;
  color: white;
  text-align: justify;
}

.overlay {
  display: none;
}

.popular-courses .card .overlay .rating {
  color: #ffb703;
}

.popular-courses .card:hover .overlay {
  display: block;
  width: 15rem;
  height: 25rem;
  background-color: rgb(134, 134, 134);
  position: absolute;
}

.popular-courses .card .overlay .enrolnow {
  width: 8rem;
  height: 3rem;
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffb703;
}


@media screen and (max-width: 768px) {
  .category-section {
    height: 100rem;
  }

  .category-section .browse:hover {
    gap: 1.2rem;
  }

  .category-section h2 {
    text-align: center;
    font-size: 18px;
  }

  .category-section p {
    text-align: center;
    font-size: 13px;
  }

  .shape1,
  .shape2,
  .shape3 {
    display: none;
  }

  .techCadd {
    gap: 3rem;
    height: 50rem;
    flex-direction: column;
    margin: 0 !important;
    padding: 0rem !important;
  }

  .techCadd h2 {
    font-size: 18px;
  }

  .techCadd h6 {
    font-size: 14px;
  }

  .techCadd p {
    margin-top: 2rem;
  }

  .left-div,
  .right-div {
    width: 100%;
    text-align: center;
  }

  .mainImage {
    position: relative;
    top: auto;
    left: auto;
    width: 20rem;
    height: 20rem;
    margin: 0 auto;
  }
  .right-div h6,
  .right-div h2,
  .right-div p,
  .right-div ul {
    position: relative;
    left: auto;
    top: auto;
    text-align: center;
  }

  .right-div p {
    right: 0rem !important;
    padding-inline: 1rem;
    text-align: justify !important;
  }

  .right-div ul {
    padding-left: 1rem !important;
  }

  .aboutus {
    padding: 0rem !important;
  }
  .aboutus div {
    padding: 1rem;
  }

  .whyUs {
    height: 110rem;
    flex-direction: column;
    padding: 1rem !important;
  }

  .collaborators {
    flex-direction: column;
  }

  .collab-right {
    grid-template-columns: 2fr 2fr;
  }

  .collab-left {
    text-align: center;
    padding-inline: 0rem !important;
  }

  .collaborators p {
    padding-inline: 0rem !important;
    padding-block: 0rem !important;
  }

  .slider {
    padding: 0rem !important;
  }

  .brands .brands-name {
    flex-direction: column;
  }

  .brands .brands-name img {
    width: 200px;
    height: 120px;
  }

  .onlinecourses {
    margin-bottom: 22rem;
    height: 380rem !important;
  }

  .onlinecourses h1 {
    font-size: 22px;
  }

  .onlinecourses h5 {
    font-size: 16px;
  }

  .popular-courses {
    grid-template-columns: 3fr !important;
  }

  .popular-courses .card {
    width: 20rem;
    height: 28rem;
  }

  .popular-courses .card .overlay {
    width: 20rem !important;
    height: 28rem !important;
  }

  .popular-courses .card .overlay .enrolnow {
    margin-top: 7rem;
  }

  .popular-courses .card .overlay span {
    font-size: 16px;
  }

  .popular-courses .card .overlay p {
    font-size: 14px;
  }

  .management .names {
    grid-template-columns: 3fr;
  }

  .management h2 {
    font-size: 22px;
  }

  .slider-mobile {
    display: block;
  }
  .slider {
    display: none;
  }

  .dots1,
  .dots2,
  .abstract,
  .dashed {
    display: none;
  }

  .quarter {
    width: 20rem;
    top: 370rem;
    height: 30rem;
    margin-inline: 20px;
    grid-template-columns: 2fr;
  }

  .reflection,.dots11,.dots22,.abstract1{
    display: none;
  }

  .reflection-content {
    left: 1rem !important;
    width: 100%;
    z-index: 0 !important;
  }

  .reflection-mobile {
    display: block;
    padding: 2rem;
    text-align: justify;
  }

  .reflection-content-mobile {
    display: block;
    font-size: 14px;
  }

  .reflection-content-mobile h1 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2rem;
  }

  .slider-mobile {
    width: 100%;
    height: 25rem;
    background-color: white;
  }

  .swiper {
    padding: 2rem !important;
  }

  .mySwiper .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    box-shadow: 2px 2px 4px 2px rgb(183, 180, 180);
    border-radius: 5px;
    margin-top: 0.5rem;
    width: 100%;
    height: 24rem;
  }

  .enrolled,
  .enrolled1,
  .branchess,
  .branchess1 {
    border: none !important;
  }
}

